<!-- Footer -->
<hr class="mt-0 mb-0">
<footer class="page-footer font-small bg-light pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-info">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network ">
                    <li><a href="https://github.com/sofifernandes/HoldingHands-Front.git" target="_blank"
                            class="icoGithub" title="Github">
                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                        </a></li>
                    <li><a href="https://www.instagram.com/holding_hands_pi/" target="_blank" class="icoInstagram"
                            title="Instagram">
                            <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                        </a></li>

                </ul>
            </div>
        </div>

        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright colorFooter text-center py-3 " style="background-color: #49b7d3;">
        <span class="text-light"> © 2020 Copyright: Etcetera</span>

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->