<div class="parallax-fundo">

    <div class="container"
        style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <div class="row d-flex justify-content-center">
            <div class="mt-5">
                <h1>Feed</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="sticker  mt-5">
                    <div class="list-group border border-dark">
                        <a class="list-group-item list-group-item-action border-0 border-bottom font-weight-bold"
                            (click)="goToTop()">Início/Voltar</a>
                        <hr class="m-0 border-dark">
                        <ul class="list-group p-0" *ngFor='let item of listaTema'>
                            <li class="list-group-item mr-0 ml-0 pl-0 pr-0 pb-0 pt-0">
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <button type="button" class="btn btn-info w-100 text-left" value={{item.nome}} (click)='findByNomeTema($event)'>{{item.nome}}</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="postagens-temas" role="tabpanel"
                        aria-labelledby="nav-postagens-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mt-5 mb-5" *ngFor="let item of listaTemaSelected | orderBy : key : reverse">
                                    <div *ngFor='let post of item.postagem'>
                                        <div class="card-header">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-md-8">
                                                    <h5 class="card-title"> {{post.titulo}} </h5>
                                                    <small>Tema: {{item.nome}} </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">

                                            <p class="card-text" aria-describedby="texto"> {{post.textoPostagem}} </p>
                                            <small id="texto" class="form-text m-0 text-muted mb-3">

                                                Postado em {{post.date | date: 'dd/MM/yyyy'}} às
                                                {{post.date | date:'HH:mm'}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>