<div class="container">
    <div class="row w-100">
        <div class="col-md-12 mb-2 mt-2">
            <h1 class="text-center">HoldingHands</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-5 mt-5">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae quia aperiam libero debitis adipisci nostrum perferendis atque sit quas dolores voluptatibus, totam sunt optio possimus neque suscipit reprehenderit quibusdam quidem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, aliquid optio fuga non dolorum corrupti natus, possimus praesentium autem aperiam consequuntur laborum nihil dolores, cumque quae tenetur assumenda debitis maxime!
            </p>
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde libero ex officia aut molestiae.     Quos fugiat, aperiam eligendi tempore quod voluptatibus aliquid sequi deserunt iure nostrum quibusdam molestiae, debitis quasi.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis ea repellendus at eveniet! Obcaecati veniam labore sit voluptatum! Distinctio ut id odit molestiae optio odio nisi similique rem veniam.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
<div class="container">
    <div class="card-columns md-5 mt-5">
        <div class="card">
          <img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
        <div class="card bg-trasparent text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
              <small>
                <img class="card-img-top" src="" alt="Imagem de capa do card">
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
        
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
    </div>   
</div>
<div class="jumbotron jumbotron-fluid md-5 mt-5 mb-0">
    <div class="container">
      <h5 class="display-4 text-center">Faça parte desta comunidade e começe a transformar o mundo HOJE!!</h5>
      <div class="row w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
          <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/cadastro'>Cadastrar</button>
        </div>
      </div>
    </div>
  </div>