<div class="container">
    <div class="row w-100">
        <div class="col-md-12 mb-2 mt-2">
            <h1 class="text-center">HoldingHands</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-5 mt-5">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae quia aperiam libero debitis adipisci nostrum perferendis atque sit quas dolores voluptatibus, totam sunt optio possimus neque suscipit reprehenderit quibusdam quidem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, aliquid optio fuga non dolorum corrupti natus, possimus praesentium autem aperiam consequuntur laborum nihil dolores, cumque quae tenetur assumenda debitis maxime!
            </p>
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde libero ex officia aut molestiae.     Quos fugiat, aperiam eligendi tempore quod voluptatibus aliquid sequi deserunt iure nostrum quibusdam molestiae, debitis quasi.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta officiis ea repellendus at eveniet! Obcaecati veniam labore sit voluptatum! Distinctio ut id odit molestiae optio odio nisi similique rem veniam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magnam esse quas, quibusdam alias qui repudiandae modi maiores. Repellat illum voluptatum magni commodi consequatur a beatae nesciunt modi cumque ipsum!
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>
<div class="container">
    <div class="card-columns md-5 mt-5">
        <div class="card">          
          <div class="card-body">
            <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>          
          </blockquote>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>            
          </div>
        </div>
        <div class="card bg-trasparent text-dark text-center p-3">           
            <img src="https://i.imgur.com/WoDp2kI.jpg" alt="Logo">        
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">OOOOI é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>            
          </div>
        </div>        
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>EAE ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>         
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>            
          </div>
        </div>
    </div>   
</div>
