.bk{
    background-image: url("https://i.imgur.com/a2p5LfF.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;background-size: cover;
}