
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Sobre nós</h1>
        <p class="lead">Este é um jumbotron modificado que ocupa todo o espaço horizontal de seu elemento pai.</p>
    </div>
</div>

<div class="container">  

    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <img src=" https://i.imgur.com/nMhQ6gZ.jpg" alt="Imagem Adriano" class="img rounded-circle">
        </div>
        <div class="col-md-9">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
    </div>    
    <hr>
    <div class="row mb-5 mt-5">        
        <div class="col-md-9">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/Eg6FRZP.jpg" alt="Imagem Brendo" class="img rounded-circle">
        </div>
    </div>
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <img src=" https://i.imgur.com/fwPVF1v.jpg" alt="Imagem Evilson" class="img rounded-circle">
        </div>
        <div class="col-md-9">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
    </div>
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-9">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/sNaw46Q.jpg" alt="Imagem Isabelly" class="img rounded-circle">
        </div>
    </div>                                
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <img src="https://i.imgur.com/J2FCNhi.jpg" alt="Imagem Sofia" class="img rounded-circle">
        </div>
        <div class="col-md-9">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
    </div>
</div>
