<div class="parallax d-flex justify-content-center align-items-center">
    <div style="border-radius: 10px; background-color: rgba(11, 77, 77, 0.486);">
        <p style="font-size: 100px; color: white;">Sobre nós<p>
    </div>    
</div>


<div class="container">

    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <img src=" https://i.imgur.com/nMhQ6gZ.jpg" alt="Imagem Adriano" class="img rounded-circle">
        </div>
        <div class="col-md-9">
            <h4>Adriano Rocha</h4>
            <p class="mt-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero
                necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut
                sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
    </div>
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-9">
            <h4>Isabelly Danni</h4>
            <p class="mt-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero
                necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut
                sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/1jAdPkr.jpg" alt="Imagem Isabelly" class="img rounded-circle">
        </div>
    </div>
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <img src=" https://i.imgur.com/Eg6FRZP.jpg" alt="Imagem Brendo" class="img rounded-circle">
        </div>
        <div class="col-md-9">
            <h4>Brendo Cliber</h4>
            <p class="mt-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero
                necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut
                sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
    </div>
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-9">
            <h4>Sofia Fernandes</h4>
            <p class="mt-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero
                necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut
                sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
        <div class="col-md-3">
            <img src="https://i.imgur.com/J2FCNhi.jpg" alt="Imagem Sofia" class="img rounded-circle">
        </div>
    </div>
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <img src="https://i.imgur.com/fwPVF1v.jpg" alt="Imagem Evilson" class="img rounded-circle">
        </div>
        <div class="col-md-9">
            <h4>Evilson Souza</h4>
            <p class="mt-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque numquam dignissimos libero
                necessitatibus nulla exercitationem quis amet sint tempora, laboriosam cupiditate explicabo qui aut
                sapiente. Odio excepturi facilis sint earum!
            </p>
        </div>
    </div>
</div>