.parallax-fundo {
  background-image: url("https://i.imgur.com/QmIbn80.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
