<div class="parallax1 d-flex justify-content-center align-items-center">
    <div id="teste" style="border-radius: 10px; background-color: #ffffffe5;">
        <p class="ml-3 mr-3"
            style="font-size: 90px; color: #03768aa4; -webkit-text-stroke-width: 2px;-webkit-text-stroke-color: #6e6b6b; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
            <b>Saiba mais</b>
        </p>
    </div>
</div>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center">
                <img src="https://i.imgur.com/GHZ4eBv.jpg" alt="Infográfico" class="tamanhoimg">
            </div>
        </div>
        <div class="col-md-6">
            <p>
                No Brasil, crianças e adolescentes que são acolhidas nos antigos orfanatos, em sua maioria, não são
                órfãs, na verdade, são crianças que sofreram algum tipo de violação de direitos, como, violência física,
                sexual, psicológica ou negligência (abandono dos pais, cárcere privado, deixar a criança abandonada em
                casa e etc). Atualmente, são denominadas de Serviço de Acolhimento Institucional ou Familiar, deixando o
                título de ‘orfanato’ no passado.

                Existem cinco modalidades específicas de serviços de acolhimentos no Brasil, sendo eles, Abrigos, Casas
                de Passagem, Casas Lares, Repúblicas e Família Acolhedora. Cada caso é julgado pelo Estatuto da Criança
                e do Adolescente, junto a juíza, logo que, cada ocorrência é analisada e classificada de forma
                particular.


                O Estatuto da Criança e do Adolescente dispõe, em seu artigo 23, que “a falta ou a carência de recursos
                materiais não constitui motivo de suspensão do pátrio poder” e recomenda, no parágrafo único deste mesmo
                artigo, que “não existindo outro motivo que por si só autorize a decretação da medida, a criança ou o
                adolescente será mantido em sua família de origem, a qual deverá, obrigatoriamente, ser incluída em
                programas oficiais de auxílio”. No entanto, a pobreza e carência de recursos materiais pode levar a
                exploração do trabalho infantil, o que faz a família perder o direito sob o menor. Além da exploração do
                trabalho, a carência da família pode contribuir para abandono e vivência nas ruas.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mb-5">
            <h1> Profissionais responsáveis:</h1>
            <p>
                Para o processo de acolhimento são inúmeros profissionais responsáveis. Cada caso específico é
                intitulado tipos de profissionais diferentes.

                Os responsáveis são o Conselho Tutelar ou Vara da Infância: O Serviço de acolhimento comunica a Vara da
                Infância que aquela criança foi abrigada. E então, a criança é encaminhado para equipe de profissionais,
                pois é necessário fazer um estudo psicossocial, para encontrar a família biológica e detectar o
                ocorrido. O primeiro passo é saber se o indivíduo volta a família ou não, e quais as necessidades
                envolvidas, como creche, escola, comida e etc.

                A Audiência concentrada é feita com a juíza da infância, o Ministério Público e a família. A última
                etapa é assinar um termo de compromisso. Os Adolescente ou crianças maiores, também participam para
                dizer o que quer e sua opinião é respeitada, pode ocorrer do adolescente optar por não voltar a família
                biológica.
            </p>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
                <img src="https://i.imgur.com/aij8xTW.jpg" alt="Infográfico" class="tamanhoimg">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-5" style="background-color: #27a7be52">
    <div class="container">
        <h1 class="display-4 text-center"> Você sabia? </h1>       
    </div>
</div>

<div class="container justify-content-center">
    <div class="row">
        <div class="col-md-5">
            <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
                <img src="https://i.imgur.com/PtzoQ2B.jpg" alt="Infográfico" class="tamanhoimg1">
            </div>
        </div>
        <div class="col-md-7 mt-5 mb-5">           
            <p>
                De acordo com o Levantamento Nacional de Abrigos para Crianças e Adolescentes da rede SAC, existem cerca
                de 589 instituições nas regiões brasileiras e 20 mil crianças e adolescentes vivendo nos abrigos
                encontrados em todo o país.

                Praticamente metade dos acolhimentos se localizam na região Sudeste, que concentra 49,1% dos abrigos e
                45% dos abrigados. Por sua vez, o estado de São Paulo é responsável por 1/3 das crianças e adolescentes
                abrigados. A maior participação do estado de São Paulo e, consequentemente, da região Sudeste no total
                das crianças e adolescentes abrigados reflete, na verdade, as próprias características do universo de
                abrigos que compõem a Rede SAC do Ministério do Desenvolvimento Social.

                As outras regiões do país, tem uma somatória bem menor do que o Sudeste, que é responsável por 29,4% das
                crianças e adolescentes encontrados nos abrigos pesquisados; a região Sul abriga 15,5%, a região
                Centro-Oeste 8,2%, e a região Norte apenas 1,9%.
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-5" style="background-color: #27a7be52">
    <div class="container">
        <h2 class="display-4 text-center">Serviço de acolhimento em Campinas:</h2>        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">            
            <p>
                Restringindo um pouco o mapa, especificamente na cidade de Campinas, o Conselho de Serviços de Acolhimento de Campinas, afirma que existem 28 serviços de acolhimento, num total de 502 crianças e adolescentes e mais 12 pessoas de 18 a 21 anos, acolhidos pelas repúblicas.

                Diferentemente do Brasil, segundo a vice-presidente do Conselho, o maior motivo das crianças estarem em abrigos na cidade de Campinas é a agressão física. Em um mês são atendidas e recolhidas aproximadamente 428 crianças. Entre os meses de janeiro de 2015 e fevereiro de 2016, foram atendidas 715 crianças brancas, 472 negras, oito amarelas (japonesas) e cinco indígenas.

                Entre as crianças do sexo masculino o maior é índice é da faixa etária de 14 anos, em que, recebe por mês quase 21 adolescentes com essa idade. Já o menor índice, é entre 19 a 21 anos, não chegando nem a 1 de média mensal. No entanto, as meninas, a maior taxa fica com 17 anos, com cerca de quase 17 meninas atendidas por mês, e a menor, com 18 anos, com aproximadamente 3 meninas por mês.

                Entre janeiro de 2015 e fevereiro de 2016 foram atendidos em média 245 meninos e 196 meninas. Um percentual bom para a cidade de Campinas, mesmo com essa luta para que os abrigos e adoções não diminuam, segundo o vice-presidente.

            </p>
        </div>

    </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-5" style="background-color:#27a7be52">
    <div class="container text-center">
        <h2 class="display-4">Contribua com nossos parceiros:</h2>        
    </div>
</div>